$bg-light: #f2ebe2;
$bg-darck: #4d2c5e;

$bg-main: #f5f5f5;

$primary-black: #1D1D1D;
$primary-gray:#8A8A8A;
$orange-akcent: #ff7426;
$main-white:white;

$pading-left-right:60px;
$border-radius: 35px;
$cart-border-radius: 15px
